* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
}

/* Page Layout */

body {
    margin: 0;
    background-color: var(--body-bg-color);
}

.layoutContainer {
    height: calc(100vh - 16px);
    padding: 8px 0 8px 8px;
    float: left;
    display: flex;
    flex-direction: column;
}

.desktopLayout .layoutContainer {
    width: calc(50% - 12px);
}

.mobileLayout .layoutContainer {
    width: calc(100% - 12px);
}

#controlsContainer {
    height: 48px;
    margin: 4px 4px 8px 4px;
    display: flex;
    flex-direction: row; 
}

.subContainer {
    background-color: var(--mainContainer-bg-color);
    flex-grow: 1;
    overflow: auto;
}

/* buttons */

button {
    padding: 8px;
    margin: 4px;
    color: var(--button-color);
    font-weight: bold;
}

#controlsContainer > * {
    margin: 0 4px 0 0;
}

#controlsContainer > *:last-child {
    margin-right: 0;
}

.controlsButton {
    width: 48px; 
    height: 48px;
    float: left;
    padding: 0;
}
 
#controlsContainer .controlsButton svg {
    right: 4%;
    bottom: 4%;
}

#backButton svg {
    position: relative;
    top: 5%;
}

.controlsButton svg {
    position: relative;
    fill: var(--button-color);
}

button, #controlsSearchContainer {
    background: var(--button-background);
    border: 2px solid var(--button-accent);
    border-radius: 10px;
}

button:hover {
    background: var(--hover-background);
}

button:active {
    background: var(--active-background);
}

#controlsSearchContainer {
    height: 44px;
    min-width:40px;
    flex-grow: 1;
    float: left;
}

#controlsSearchText {
    height: inherit;
    background: none;
    width: calc(100% - 68px);
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 10px 0 0 10px;
}

#controlsSearchSubmit {
    height: 44px;
    float: right;
    background: none;
    border: none;
}

/* Book List Table */

table#bookList {
    width: 100%;
    border-spacing: 0;
}

table#bookList td, table#bookList th {
    border-bottom-style: dotted;
    border-color: var(--border-color);
    border-width: 1px;
    padding: 6px;
}

table#bookList th {
    /* always keep table header visible */
    background: var(--mainContainer-bg-color);
    position: sticky;
    top: 0;
}

table#bookList td.Cover {
    padding: 0;
    width: 0;
}

table#bookList td.ISBN {
    width: 0;
}

table#bookList .Cover img {
    width: 60px;
    height: 80px;
    display: block;
}

/* Settings page layout */

.layoutExample {
    height: 60px;
    margin: 8px;
    border: 4px solid var(--body-bg-color);
    background: var(--mainContainer-bg-color);
}

.layoutExample * {
    text-align: center;
    display: inline-block;
    margin-left: 10%;
}

.layoutExample button {
    width: 70px;
}

.setLayoutButton {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.setLayoutButton svg {
    position: relative;
    top: 3px;
    left: 0;
    filter: var(--icon-filter);
}

/* Display only one container on mobile layout */

.mobileLayout.showDetailsContainer #controlsBooklistContainer {
    display: none;
}

.mobileLayout:not(.showDetailsContainer) #detailsMainContainer {
    display: none;
}

/* Text Style */
h1 {
    font-size: 36pt;
    margin: 0px 12px;
    float: left;
}

h2 {
    margin: 8px;
    clear: left;
}