* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
}

/* Page Layout */

body {
    margin: 0;
    background-color: var(--body-bg-color);
}

.layoutContainer {
    height: calc(100vh - 16px);
    padding: 8px 0 8px 8px;
    float: left;
    display: flex;
    flex-direction: column;
}

.desktopLayout .layoutContainer {
    width: calc(50% - 12px);
}

.mobileLayout .layoutContainer {
    width: calc(100% - 12px);
}

#controlsContainer {
    height: 48px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row; 
}

.subContainer {
    background-color: var(--mainContainer-bg-color);
    flex-grow: 1;
    overflow: auto;
}

/* controlsContainer */

#controlsContainer > * {
    margin-right: 4px;
    border: 2px solid var(--controls-button-accent);
    border-radius: 10px;
    background: var(--controls-button-background);
}
#controlsContainer > *:last-child {
    margin-right: 0;
}

.controlsButton {
    width: 48px; 
    height: 48px;
    float: left;
}

#controlsSearchContainer {
    height: 44px;
    min-width:40px;
    flex-grow: 1;
    float: left;
}

#controlsSearchText {
    height: inherit;
    background: none;
    width: calc(100% - 68px);
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 10px 0 0 10px;
}

#controlsSearchSubmit {
    height: 44px;
    float: right;
    background: none;
    border: none
}

/* Book List Table */

table#bookList {
    width: 100%;
    border-spacing: 0;
}

table#bookList td, table#bookList th {
    border-bottom-style: dotted;
    border-color: var(--border-color);
    border-width: 1px;
    padding: 6px;
}

table#bookList th {
    /* always keep table header visible */
    background: var(--mainContainer-bg-color);
    position: sticky;
    top: 0;
}

table#bookList td.Cover {
    padding: 0;
    width: 0;
}

table#bookList td.ISBN {
    width: 0;
}

table#bookList .Cover img {
    width: 50px;
    height: 80px;
    display: block;
}