* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
}

/* Page Layout */

body {
    margin: 0;
    background-color: var(--body-bg-color);
    min-width:600px;
}

.desktopLayout .layoutContainer {
    height: calc(100vh - 16px);
    width: calc(50% - 12px);
    padding: 8px 0 8px 8px;
    float: left;
    display: flex;
    flex-direction: column; 
}

.desktopLayout #controlsContainer {
    height: 48px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row; 
}

.desktopLayout .subContainer {
    background-color: var(--mainContainer-bg-color);
    flex-grow: 1;
}

/* controlsContainer */

#controlsContainer > * {
    margin-right: 4px;
    border: 2px solid var(--controls-button-accent);
    border-radius: 10px;
    background: var(--controls-button-background);
}
#controlsContainer > *:last-child {
    margin-right: 0;
}

.controlsButton {
    width: 48px; 
    height: 48px;
    float: left;
}

#controlsSearchContainer {
    height: 44px;
    min-width:40px;
    flex-grow: 1;
    float: left;
}

#controlsSearchText {
    height: inherit;
    background: none;
    width: calc(100% - 68px);
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 10px 0 0 10px;
}

#controlsSearchSubmit {
    height: 44px;
    float: right;
    background: none;
    border: none
}